/*Entire WebSite*/

/*body {
    font-family: 'Roboto', sans-serif
}

/*Lavora con noi*/

.LavoraBack {
    background-image: url(../src/assets/img/lavoraconnoiBackGround.webp);
    ;
}


/*footer*/

.footerBack {
    background-color: orangered;
}