/*Entire WebSite*/


body {
    color: #212121;
    font-family: 'Spectral', sans-serif;
}

/*Navbar*/

.backgroundRed {
    background-color: #F04D31;
}

.workShadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

/*Lavora con noi*/

.LavoraBack {
    background-image: url(../src/assets/img/lavoraConNoi/workWithUsBg.jpg);
    ;
}




/*footer*/

.footerBack {
    background-color: orangered;
}